* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background-color: #1f2128; /* Custom background color for the entire page */
  color: #ffffff; /* Custom text color to ensure readability on the dark background */

}

.header {
  background-image: url('../assets/Header bg.jpg'); /* Path to your header image */
  min-height: 60vh;
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-size: cover; /* Adjust the background size to cover the header */
  background-position: center; /* Adjust the background position to center */
  height: 30vh;
  position: relative;
  z-index: 1;
}
.weather {
  padding-top: 20px;
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;


}


.weather img{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: center;
  background-image: url('../assets/cloud_icon.png');
  background-repeat: no-repeat;
  padding: 50px;
  background-position: 40px ;
  align-items: center;
  z-index: 1;


 
}


#weather-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -9%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 60px;
  row-gap: 30px;
  justify-items: center;
  color: white;
  z-index: 2;
  margin-bottom: 20px;
}





.city-card-top:last-child  {
  margin-right: 0; /* Remove the margin from the last card to prevent extra gap */

}

.city-card{
  display: grid;
  grid-auto-flow: row;
  margin-left: 2vw;
  margin-right: 2vw;
 
}

.city-card-top {

  width: 500px;
  height: 200px;
  border-radius:  5px 5px  0 0;
  padding: 10px;
  color: #ffffff; /* White text color */
  margin-right: 10px; /* Adjust the margin to create a gap between columns */
  background-image: url('../assets/clouds.png');
  background-color: #388ee7;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom; 
}

.city-card-bottom{

  width: 500px;
  height: 130px;
  padding: 10px; 
  border-radius: 0 0 5px 5px ;
  position: relative;
  overflow: visible; 
  color: #ffffff; /* White text color */
  margin-right: 10px; /* Adjust the margin to create a gap between columns */
  background-color: #383b47;
  background-repeat: no-repeat;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom; 
  margin-bottom: 20px;
}



.city-card:nth-child(2) .city-card-top {
  background-color: #6249cc;
}

.city-card:nth-child(3) .city-card-top {
  background-color: #40b681;
}

.city-card:nth-child(4) .city-card-top {
  background-color: #de944e;
}

.city-card:nth-child(5) .city-card-top {
  background-color: #9c3a3a;
}




.city-name {
  font-weight: bold;
  text-align: center;
  color: rgb(255, 255, 255);
}

.city-card-top{
  color: #ffffff;
}
.city-temp {
  text-align: center;
}



.city-card-top {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 10px;
  grid-template-areas: 
  "cn ct " 
  "dt tm"
  "cc tm ";
  align-items: center;

}


.city-name {
  grid-area: cn;
  font-size: 1.8rem;;
}
.city-temp{
  grid-area: ct;
  font-size: 4rem;
  
}

.city-time{
  grid-area: dt;
  font-size: 1rem;
}

.city-condition {
  margin-top: -25px;
  grid-area: cc;
  display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr ; /* Updated grid template columns */
  align-items: center; /* Align items vertically */
  padding-left: 10px; /* Adjust padding as needed */
  font-size: 1.2rem;
  text-align: center;
  background-repeat: no-repeat;
}

.city-condition-icon {
  
  height: 100px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center left 50px; 
  order: 1;
}

.city-condition-text {
  display: grid;
  order: 2;
  justify-content: left;
}



.city-temp-min{
  grid-area: tm;

}

.city-temp-min h4{
  font-weight: 500;
  padding-bottom: 2px;

}

.city-clouds{
  grid-area: cc;
}


.city-card-bottom {
  display: grid;
  background-repeat: no-repeat;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "cp cw sr" 
  "ch cw sr"
  "cv cw sr";
  align-items: center;
  background-image: url('../assets/line 3.png');
  background-position: bottom 0px right 0px;
  background-repeat: no-repeat;


}

.city-pressure{
  grid-area: cp;
  
}

.city-humidity{
  grid-area: ch;

}

.city-visibility{
  grid-area: cv;
}

.city-wind{
  grid-area: cw;
  align-items: bottom;
  padding-left: 10px;
  align-content: end;
  margin-top: 50px;

  
  
}



.city-sunrise{
  grid-area: sr;
  display: grid;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}


.search-container {
  display: flex;
  justify-content: center;

}

.search-container input{
  border: 0;
  background-color: #1f2128;
  border-radius:  5px 0 0 5px;
  /* width: 422.66px; */
  width: 400px;
  color: white;
  width: 188.97 px;
  position: relative;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6c5dd3; 
  color: #ffffff; /* White text color */
  border: none;
  cursor: pointer;
  border-radius: 8px;
}




footer {
  margin-top: 60rem;
  padding: 20px;
  position: sticky;
  background-color: #30333d;
  color: #7d7f85;
  text-align: center;
  font-size: 16px;
  z-index: 3;
}

.weather-icon {
  width: 50px;
  height: 50px;
}
.weather-icon-broken-clouds {
  background-image: url('../assets/Broken Clouds.png');
}


.weather-icon-clear-sky {
  background-image: url('../assets/Clear Sky.png');
}

.weather-icon-few-clouds {
  background-image: url('../assets/Few Clouds.png');
}

.weather-icon-rain{
  background-image: url('../assets/Rain.png');
}

.weather-icon-mist{
  background-image: url('../assets/Mist.png');
}

.weather-icon-clouds{
  background-image: url('../assets/Few Clouds.png');
}